
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dsa-red-palette: (
  50: #ffeaed,
  100: #ffcacf,
  200: #f59594,
  300: #ec6a6a,
  400: #fb2d25,
  500: #fb2d25,
  600: #ec1f26,
  700: #da0d20,
  800: #cd0018,
  900: #bf0008,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
);

$mizYDSA-primary: mat.define-palette($dsa-red-palette, 600);
$mizYDSA-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mizYDSA-warn: mat.define-palette(mat.$red-palette);



// Light mode
$lightmode-text: #231f20;
$lightmode-bg: #ffffff;


// Dark mode
$darkmode-text: #ffffff;
$darkmode-bg: #231f20;

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$mizYDSA-theme: mat.define-light-theme((
  color: (
    primary: $mizYDSA-primary,
    accent: $mizYDSA-accent,
  ),
  typography: mat.define-typography-config(),
  density: 0
));


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($mizYDSA-theme);

